{{define "top"}}<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Just Great Content!</title>
    <meta charset="UTF-8" />
    <meta
      name="description" content="The best content any crawler has ever seen!" lang="en"/>
  </head>
  <body>
    <nav role="navigation">
      <div>
        <h1></h1>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="about">about</a></li>
          <li><a href="archive">archive</a></li>
        </ul>
      </div>
    </nav>
    <main>
    {{end}}